<html>
    <head>
        <script type="importmap">
            {
                "imports": {
                    "@tharious/gappdata": "/GAppData.js",
                    "mocha": "/mocha/mocha.js",
                    "chai": "/chai/chai.js"
                }
            }
        </script>

        <script type="module" src="index.mjs"></script>
        <link rel="stylesheet" href="index.css" />
        <script src="https://apis.google.com/js/api.js" async defer></script>
        <script src="https://accounts.google.com/gsi/client" async defer></script>
    </head>
    <body>
        <div id="g_id_onload" data-client_id="<%= client_id %>" data-callback="handleCredentialResponse" data-auto_select="true"></div>
        <div class="g_id_signin" data-type="standard"></div>
        <div id="mocha"></div>
    </body>
</html>
